<div id="home">

<div class="hero-unit">
  <h1>Welcome to Lipsync</h1>
  <h2>Want to learn how to read lips?</h2>
  <p>Lipsync is fun game that trains your eyes to identify sounds by only looking at a speaker's lips' shape and movement.  
  <img src="/assets/img/Lip-reading.jpg" alt="Lip Reading" height="314" width="430" />
  <!--
  <iframe width="480" height="360" src="http://www.youtube.com/embed/nAHtUKzYhtU" frameborder="0" allowfullscreen></iframe>
  -->
  <p><a class="btn btn-primary btn-large" href="user/login">Login</a> <a class="btn btn-primary btn-large" href="user/signup">Sign Up</a></p>
</div>
<div class="row-fluid">
  <div class="span4">
    <h2>How it works</h2>
    <p>You will first start by taking a quick test to assess your current ability at reading lips. Then, you will take a quiz composed of 10 multiple choice questions that will train you at reading vowels. You will have to watch a muted video of moving lips and guess the right vowel that is being articulated.   </p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
  </div><!--/span-->
  <div class="span4">
    <h2>Test your lip reading IQ</h2>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    <p><a class="btn" href="#">Start Test &raquo;</a></p>
  </div><!--/span-->
  <div class="span4">
    <h2>Get free training</h2>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    <p><a class="btn" href="#">Start Quiz &raquo;</a></p>
  </div><!--/span-->
</div><!--/row-->
    
<div class="row-fluid">
  <div class="span9">
  
<p>
Start taking quizzes now!

<%= link_to Quiz.first.name, url_for(Quiz.first) %> 

</p>
</div><!--/span-->
</div><!--/row-->

</div><!--/home-->

<div id="statistics">

<p> Hllo </p>
</div>



